<div class="border border-alert">
  <%= cl_image_tag @offer.user.photo.key, class: "avatar-huge" %>
  <%# <img class="avatar-huge" src="/assets/songimg.jpg" alt=""> %>
  <h2 class="aboutme"><%= @offer.user.name %></h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae dolores quae accusantium sapiente sit. Similique repudiandae dolores quae accusantium sapiente sit.</p>
</div>
