<div class="big-card border border-primary d-flex">
  <div class="p-3" style BACKGROUND>
    <h2 class="games-offered">Book your class</h2>
    <%= render 'shared/game_card', offer: offer %>
    <div class="card-form justify-content-around  mt
      <%= simple_form_for([@offer, @booking]) do |f| %>
        <div class="d-flex justify-content-around">
          <%= f.input :date, label: 'Choose Date', html5: true %>
          <%= f.submit 'Book Now', class: "btn-player" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
