<div class="border border-primary p-3">
  <% @offer.user.offers.each do |offer| %>
    <div class="card-trip card-small">
    <%= image_tag(offer.game.background_image) %>
    <div class="card-trip-infos">
      <p class="card-user">¥ <%= offer.price %></p>
      <p class="card-user"><%= offer.duration %>h</p>
      </div>
    </div>
  <% end %>
</div>
