<div class="border border-primary">
  <% @offer.user.offers.each do |offer| %>
    <div class="card-trip card-small">
    <%= image_tag(offer.game.background_image) %>
      <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> %>
      <h2 class="card-user"><%= offer.user.name %></h2>
      <p>Short description here!</p>
    </div>
    <div class="card-trip card-small">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <h2 class="card-user"><%= offer.user.name %></h2>
      <p>Short description here!</p>
    </div>
    <div class="card-trip card-small">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <h2 class="card-user"><%= offer.user.name %></h2>
      <p>Short description here!</p>
    </div>
  <% end %>
</div>
