<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.zdnet.com/a/img/resize/55a3891b942ccec51db2d4b31b9278e7acc4bc72/2022/03/25/e09d2790-b5bb-4523-b8b2-c09d9b98b85b/unnamed.png?auto=webp&width=1200);">
  <div class="container">
    <h1>Player<strong>WON</strong></h1>
    <h2>Level up with the BEST.</h2>
    <div class="homesearch">
      <%= render "shared/searchbar" %>
    </div>
  </div>
</div>
</div>
