<div class="p-5 gap-5 d-flex justify-content-around">
  <div class="container border-blue border-shadow-blue">
    <h2>My Confirmed Bookings </h2>
    <% if @make_bookings == []  %>
      <h3>...you have no bookings...</h3>
    <% else %>
      <% @make_bookings.each do |booking| %>
        <% if booking.status == 'accepted' %>
          <div class="card-white d-flex p-2">
            <%= render 'card_white_avatar', user: booking.offer.user %>
            <%= render 'booking_info', booking: booking %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="container border-blue border-shadow-blue">
    <h2>My Pending Bookings</h2>
    <% if @make_bookings == []  %>
      <h3>...you have no bookings...</h3>
    <% else %>
      <% @make_bookings.each do |booking| %>
        <% if booking.status == 'pending' %>
          <div class="card-white d-flex p-2">
            <%= render 'card_white_avatar', user: booking.offer.user %>
            <%= render 'booking_info', booking: booking %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
