<%= render 'shared/searchbar' %>
<div class="card-index">
  <% @offers.each do |offer| %>
    <div class="card-trip">
      <%= cl_image_tag offer.user.photo.key %>
      <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> %>
      <div class="card-trip-infos">
        <div>
          <h2 class="card-user"><%= offer.user.name %></h2>
          <p>Short description here!</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
