<div class="body">
  <div class="profilebox border border-primary font-light">
    profile box
  </div>
  <div class="cards border border-primary font-light">
    cards 1
    <div class="bigcard border border-primary font-light">
      big card
    </div>
    <div class="triocards border border-primary font-light">
      trio cards
      <div class="smolcard border border-primary font-light">
        small cards1
      </div>
      <div class="smolcard border border-primary font-light">
        small cards2
      </div>
      <div class="smolcard border border-primary font-light">
        small cards3
      </div>
    </div>
  </div>
  <div class="footer border border-primary font-light">
    footer
  </div>
</div>
