<%= render 'searchbar' %>
<div class="row">
  <div class="col-3">
    <%= render 'about_me', offer: @offer %>
  </div>
  <div class="col-6">
    <%= render 'big_card', offer: @offer, booking: @booking %>
  </div>
  <div class="col-3">
    <%= render 'trio_card', other_offers: @other_offers %>
  </div>
</div>
