.card-section {
  margin-top: 216px;
}

.card-aboutme {
  box-shadow: 0 0 24px violet;
  height: 300px;
  width: 500px;
  background-color:blueviolet;
  margin-left: 48px;
  border-radius: 20px;
  margin-bottom: 24px;
  padding-right: 10px;
}

.aboutme {
  color:aqua;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: bold;
  text-shadow: 10px;
}

.circle {
  margin-top: 8px;
  margin-bottom: 24px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;

}

.card-icons {
  padding-right: 10px;
  padding-left: 10px;
}

.card-connect {
  box-shadow: 0 0 24px violet;
  height: 300px;
  width: 500px;
  background-color:blueviolet;
  margin-left: 24px;
  border-radius: 20px;
  margin-bottom: 24px;
  padding-right: 10px;

}

.card-icons {
  list-style-type: none;
}

.card-social {
  list-style-type: none;
}

.offers {
  box-shadow: 0 0 24px violet;
  height: 500px;
  width: 300px;
  background-color:blueviolet;
  margin-left: 24px;
  margin-right: 48px;
  border-radius: 20px;
  margin-bottom: 24px;
}

.btn-player  {
  background-color: rgb(57, 205, 205);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  width: 160px;
  color: bisque;
  border: none;
}

.offer1 {
  background-color: rgb(57, 205, 205);
  text-align: right;
  padding: 16px;
  border-radius: 15px;
  width: 200px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px black;
}

.card-form {
  margin: 0 auto;
}

.games-offered {
  padding-top: 10px;
}
