.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-large {
  width: 144px;
  height: 144px;
}

#avatar-aboutme {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 15px #01BAEF;
}
