.banner {
  background-size: cover;
  height: 91.25vh;
  padding: 200px 240px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  // font-weight: bold;
}

.banner h2 {
  font-size: 32px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
