.banner {
  background-size: cover;
  height: 91.25vh;
  padding: 50px 240px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))

  h1 {
    font-size: 64px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  h2 {
    font-size: 32px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

#hplogo {
  height: 275px;
}
