.bookingsh2 {
  color: #01BAEF;
}


.player {
  margin-top: 24px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 164px;
}

.booked_by {
  background-color: #000000;
  height: 500px;
  width: 500px;
  border-radius: 15px;
  margin-top: 16px;
  border: 2px solid #01BAEF;
  box-shadow: 0 0 15px #01BAEF;
  padding-top: 16px;
}

.card-product-infos {
  color: black;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;


  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
