.btn-blue, .btn-blue:hover, .btn-blue:active, .btn-blue:visited {
  background-color: #01BAEF;
  color: azure;
  border: none;
  border-radius: 0.7rem;
  width: 50%;
  font-size:x-large;
  height: 80px;
}
