// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .card-index {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.card-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  margin: 0 auto;
  padding: 16px;
}

.card-trip {
  overflow: hidden;
  background: white;
  color: blueviolet;
  box-shadow: 0 0 15px rgb(230, 65, 194);
  border-radius: 15px;
  position: relative;

  img {
    height: 360px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .link-card {
    position: absolute;
    height:100%;
    width: 100%;
  }
}

.card-user {
  padding: 12px 12px;
}

.card-purple {
  margin-left: 32px;
  background: rgb(168,51,185);
  background: linear-gradient(180deg, rgba(168,51,185,1) 0%, rgba(1,186,239,1) 100%);
  border-radius: 15px;
  padding: 16px;
}

.card-side {
  height: 70vh;
  margin-top: 120px;
  margin-left: 16px;
  position: relative;

  h2 {
    color: #01BAEF;
    top: 40px;
    padding: 20px;
  }

  p {
    width: 100%;
    top: 110px;
    min-width: 100px;
    word-wrap: break-word;
  }
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.card-white {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  border-radius: 15px;
  color: black;
}

.card-offer {
  overflow: hidden;
  background: white;
  color: blueviolet;
  box-shadow: 0 0 15px rgb(230, 65, 194);
  border-radius: 15px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .link-card {
    position: absolute;
    height:100%;
    width: 100%;
  }
}
