.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 24px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background: rgb(168,51,185);
  background: linear-gradient(90deg, rgba(168,51,185,1) 0%, rgba(1,186,239,1) 100%);
}
