.searchbar {
  position: absolute;
  left: 50%;
  margin-top: -55px;
  transform: translateX(-50%);
}

.search-form-control {
  position: relative;
}

.search-form-control #btn-search {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3rem;
  width: 350px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  border: 1px solid #E7E7E7;
  background-color: rgba(255, 255, 255, 0.6);
  color: white;
  border-radius: 15px;
}

.search-form-control ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1 !important; /* Firefox */
}

.search-form-control .form-control:focus {
  border: 1px solid #a730ac;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.homesearch {
  position: absolute;
  top: 490px;
  left: 428px;
  background-color: #a730ac;
}
