#sidebar {
  width: 90%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(168,51,185,1) 0%, rgba(1,186,239,1) 100%);
  box-sizing: inherit;
  border-radius: 5px;
  margin-left: 24px;
  padding: 8px;
  justify-content: center;
}
