#sidebar {
  width: 17%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(168,51,185,1) 0%, rgba(1,186,239,1) 100%);
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#dropdown {
  display: table-cell;
  width: 15%;
  vertical-align: top;
}
