<div class="card-purple border-shadow-blue card-side">
  <%= cl_image_tag @offer.user.photo.key, { class: "avatar avatar-large position-middle", id: "avatar-aboutme" } %>
  <h2 class="position-middle mt-3"><%= @offer.user.name %></h2>
  <p class="position-middle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae dolores quae accusantium sapiente sit. Similique repudiandae dolores quae accusantium sapiente sit.</p>
</div>
