<div class="card-purple border-shadow-blue card-side">
  <%= cl_image_tag @offer.user.photo.key, { class: "avatar avatar-large position-middle", id: "avatar-aboutme" } %>
  <h2 class="position-middle mt-3"><%= @offer.user.name %></h2>
  <p class="position-middle">Greetings and thank you for visiting my profile! I enjoy gaming culture and connecting with people so let me help you reach your goals or get past that pesky boss fight that you've been stuck on!</p>
</div>
