<div class="d-flex">
  <div class="m-3" style BACKGROUND>
    <h2 class="games-offered">Book Your Class</h2>
    <%= render 'game_card', offer: offer %>
    <div class="card-form justify-content-around align-items-top mt-3">
      <%= simple_form_for([@offer, @booking]) do |f| %>
        <div class="d-flex justify-content-around">
          <%= f.input :date, label: 'Choose Date', html5: true %>
          <%= f.submit 'Book Now', class: 'btn-blue d-flex justify-content-center' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
