<div class="p-3">
  Other <%= other_offers.count > 1 ? "offers" : "offer" %> :
  <% other_offers.each do |offer| %>
     <%= render 'game_card', offer: offer, class: "card-small" %>
  <% end %>
</div>
